absl-py==0.7.1
astor==0.8.0
attrs==19.1.0
audioread==2.1.8
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.4
boto==2.49.0
boto3==1.9.205
botocore==1.12.205
bs4==0.0.1
certifi==2019.6.16
cffi==1.13.1
chardet==3.0.4
cmapPy==4.0.1
colorama==0.4.1
convertdate==2.2.0
cycler==0.10.0
Cython==0.29.15
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
eyeD3==0.8.10
future==0.18.2
gast==0.2.2
gensim==3.8.0
google-pasta==0.1.7
grpcio==1.22.0
GSVA==1.0.6
h5py==2.9.0
holidays==0.10.1
idna==2.8
imutils==0.5.3
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
jedi==0.14.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
libmagic==1.0
librosa==0.7.1
llvmlite==0.30.0
lunardate==0.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mpeg1audio==0.5.2
mutagen==1.42.0
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4.4
notebook==6.0.0
numba==0.46.0
numpy==1.16.4
oauthlib==3.1.0
opencv-python==4.2.0.32
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.6.0
preprocessor==1.1.3
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
pycparser==2.19
pydub==0.23.1
Pygments==2.4.2
PyMeeus==0.3.6
pymongo==3.9.0
pyparsing==2.4.0
pyrsistent==0.15.3
PySocks==1.7.1
pystan==2.19.1.1
pytagger==0.5
python-dateutil==2.8.0
python-magic==0.4.15
python-twitter==3.5
pytz==2019.1
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.1
regex==2019.6.8
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.0
seaborn==0.10.0
Send2Trash==1.5.0
setuptools-git==1.2
six==1.12.0
sklearn==0.0
smart-open==1.8.4
songdetails==0.1
SoundFile==0.10.2
soupsieve==1.9.2
statsmodels==0.11.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textblob==0.15.3
torch==1.5.0+cpu
torchvision==0.6.0+cpu
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.2
tweepy==3.8.0
tweet-preprocessor==0.4.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.0
wrapt==1.11.2
xlrd==1.2.0
